{% extends 'base.html' %}


{% block title %}About{% endblock title %}

{% block body %} 

<center><h1> Welcome Admin!!!</h1></center>
<hr>
<div class="input-group my-5">
  
  <form action="" method="POST">
    {% csrf_token %}
  
    <select class="form-select" aria-label="Default select example">
      <option selected disabled="true"> Select Job</option>
      {% for result in  JobDetail %}
      <option>{{result.jobtitle}}</option>
      {% endfor %}

      

        
    </select><br><br>

    <button name="subject" type="submit" value="HTML">Post the job</button>
    
  </form>
 
 </div>




{% endblock body %} 